.App-logo {
  height: 30vmin;
  animation: App-logo-spin infinite 10s linear;
}

.App-header {
  background: linear-gradient(to bottom left, #0032A5, #F67DFF);
  background-size: 200%;
  animation: App-background-gradient 5s infinite linear;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes App-background-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}